



<div class="d-flex" id="wrapper" *ngIf="flag_home">

  <!-- Sidebar -->
  <div class="bg-light" id="sidebar-wrapper">

    <app-header></app-header>

    <div class="row" style="margin-right: 7px; margin-left: 7px; background-color: #fbda67; padding-top: 20px; padding-bottom: 70px;">
      <div class="col-md-12 text-center">
        <span style="max-height: 50px; max-width: 10px;">
          <img style="max-height: 50px; max-width: 30px;" src="assets/images/!.png">
        </span>
        <div *ngIf="flag_segnali1">
          <p>Attenzione !</p>
        </div>
        <div *ngIf="flag_segnali1">
          <p>
            <a href="#" style="color: white;">Sono presenti criticità</a>
          </p>
        </div>
        <div *ngIf="flag_segnali2">
          <p>
            <a href="#" style="color: white;">non Sono presenti criticità</a>
          </p>
        </div>
      </div>
    </div>

    <br>

    <div class="row" style="margin-right: 7px; margin-left: 7px; background-color: #00af50; padding-top: 20px; padding-bottom: 20px;">
      <div class="col-md-12 text-center">
        <p><a href="#" style="color: white;">Info di servizio</a></p>
        <p><a href="#" style="color: white;">relative a</a></p>
        <p><a href="#" style="color: white;">ricerche,</a></p>
        <p><a href="#" style="color: white;">stampe,</a></p>
        <p><a href="#" style="color: white;">esportazioni</a></p>
      </div>
    </div>

    <br>

    <div class="row" style="margin-right: 7px; margin-left: 7px; padding-top: 20px; padding-bottom: 20px;">
      <div class="col-md-12 mt-3">
        <button class="btn btn-primary btn-lg btn-block" (click)="goToDashboard()" style="background-color: #9dc4e7; border: none;"> Nuova </button>
      </div>
      <div class="col-md-12 mt-3">
        <button *ngIf="false" class="btn btn-primary btn-lg btn-block" style="background-color: #fed967; border: none;"> Segnalazioni </button>
      </div>
      <div class="col-md-12 mt-3">
        <button  *ngIf="false" class="btn btn-primary btn-lg btn-block" style="background-color: #ecb38e; border: none;"> Interrogazioni </button>
      </div>
    </div>

    <div class="list-group list-group-flush"></div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color:#9dc4e7; border-bottom: 1px solid #1f4e78!important;height:66px;">
      <button class="btn btn-primary" id="menu-toggle">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid p-0">
      <div class="search-bar-container">
        <div class="row align-items-end no-gutters" style="background-color:#1f4e78; padding: 15px 20px; margin: 0;">
          <div class="col-auto" style="min-width: 180px;">
            <div class="search-label">Lista Contraventions</div>
          </div>
          
          <div class="col" style="max-width: 300px; padding-left: 15px;">
            <label class="search-label-small d-block mb-1">Tipo</label>
            <select class="form-control search-select" #mySelect (change)="onChange(mySelect.value)">
              <option *ngFor="let tipo of displayedColumnstipo" [value]="tipo">{{tipo}}</option>
            </select>
          </div>
          
          <div class="col" style="max-width: 300px; padding-left: 15px;">
            <label class="search-label-small d-block mb-1">Valore</label>
            <input type="text" class="form-control search-input" [(ngModel)]="search" placeholder="Teleleasing ..." />
          </div>

          <div class="col-auto" style="padding-left: 30px;">
            <button class="btn btn-search" (click)="doFilter()">Cerca</button>
          </div>
        </div>
      </div>
      

      <div class="table-container">
        <table mat-table id="ContraventionTable" matSort matSortStart="asc" [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Targa Column -->
        <ng-container matColumnDef="targa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Targa </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.targa}} </td>
        </ng-container>

        <!-- Società Intestataria Column -->
        <ng-container matColumnDef="societaIntestataria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Società </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.societaIntestataria}} </td>
        </ng-container>

        <!-- Numero Verbale Column -->
        <ng-container matColumnDef="numVerbale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero Verbale </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.numVerbale}} </td>
        </ng-container>

        <!-- Data Verbale Column -->
        <ng-container matColumnDef="dataVerbale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Verbale </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.dataVerbale}} </td>
        </ng-container>

        <!-- Stato Verbale Column -->
        <ng-container matColumnDef="dataNotifica">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Notifica </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.dataNotifica}} </td>
        </ng-container>

        <!-- Giorni Scadenza Column -->
        <ng-container matColumnDef="nominativoGuidatore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Guidatore </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{element.guidatore}} </td>
        </ng-container>

        <!-- Importo Column -->
        <ng-container matColumnDef="statoVerbale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stato Verbale </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{getStatoVerbaleLabel(element.idStatoPratica)}} </td>
        </ng-container>

       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [ngClass]="{'make-gold': i%2==0 }" *matRowDef="let row; columns: displayedColumns; let i = index" (click)="editContravention(row)" style="cursor: pointer;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" #paginatorcontravention showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>





